<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Tofu iPhone four loko hashtag, trust fund vegan sriracha. Marfa swag fashion axe narwhal pitchfork, asymmetrical photo booth chicharrones art party microdosing bespoke.
    </p>
    <p><%= link_to 'Sign Up To Write A Rewiev', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
<% end %>


<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image_url(:medium)), movie, class: 'image' %>
      </div>
    </div>
  <% end %>
</div>






